---
---

@import "{{ site.theme }}";

table{
	th{
		em{
			display: block;
			font-weight: 200;
			font-style: normal;
			font-size: 0.9em;
		}
	}

	td{
		code:after {
			content: "\a";
			white-space: pre;
		}

		em,strong{
			display: block;
			font-size: 0.9em;
			font-style: normal;
			font-weight: 200;
		}
	}
}